/* reset*/
html,body{
    /*min-height: 100%;*/
}

*,body *{
    -webkit-touch-callout: none;    /* 长按菜单 */
    -webkit-text-size-adjust:none;  /* 停用字体优化 */
    -webkit-appearance: none;/* form控件重置样式 */
    -webkit-tap-highlight-color: transparent;   /* 点击高光 */
    -webkit-user-drag: none;    /* 停用拖动 */
    /*-webkit-user-select : none; !* 停用用户选择 *!*/
    margin: 0;
    padding: 0;
}

/* 清除输入框内阴影 */
input, select,textarea {
    border: 0;
    -webkit-appearance: none;
    appearance:none;
    outline: 0;
    resize: none;
}

ol, ul {
    list-style: none;
}

/*//禁止选中文本内容*/
*:not(input, select, textArea) {
    -webkit-user-select: none;
}

/* 禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加 */
img,a{
    -webkit-touch-callout:none;
}
img{
    vertical-align: top;
    border: 0;
    max-width: 100%;
}
a,a:active,a:hover {
    text-decoration: none;
}

/* 去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android) */
a,a:hover,button,input,textarea{
    -webkit-tap-highlight-color:transparent;
}

/* 清除浮动 */
.cl:after, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.cl, .clearfix {
    zoom: 1
}


/*   bootstrap reset    */
.container-fluid{
    padding: 0;
}
.container{
    padding: 0;
}
.row{
    margin: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding: 0;
}